@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --veryDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
}
*,*::after,*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
*::selection {
    color: var(--white);
    background-color: transparent;
}
html {
    font-size: 12px;
}
body {
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-areas: 'top-desc' 'cards' 'attribution';
    grid-template-columns: 100%;
    place-items: center;
    width: 100vw;
    min-height: 100vh;
    background-color: #fbfbfb;
    overflow-x: hidden;
    position: relative;
    color: var(--veryDarkBlue);
}
.top-desc {
    grid-area: top-desc;
}
.cards {
    grid-area: cards;
}
footer {
    grid-area: attribution;
}
@media (max-width: 280px) {
}
@media (min-width: 320px) and (min-height: 480px),
(max-width: 320px) and (max-height: 480px) /* iphone 4 */ {
    html {
        font-size: 12px;
    }
    body {
        grid-template-rows: 31% 1fr 5%;
    }
    .cards,.top-desc {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cards p, .top-desc p {
        opacity: 0.7;
    }
    .top-desc {
        justify-content: space-evenly;
        text-align: center;
        height: 50%;
    }
    .top-desc .title {
        width: 95%;
        font-size: 1.6rem;
        font-weight: 400;
        color: rgba(76, 78, 97, 80%);
    }
    .top-desc .title span {
        font-weight: 600;
        color: var(--veryDarkBlue);
    }
    .top-desc p {
        width: 92%;
        font-weight: 400;
    }
    .cards {
        justify-content: space-around;
        height: 175vh
    }
    .cards > div {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #ffffff;
        height: 21%;
        justify-content: space-between;
        padding: 7%;
        border-radius: 7px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;
        position: relative;
        overflow: hidden;
        box-shadow: 0 15px 20px -2px rgba(84, 158, 242, 10%);
    }
    .cards > div .title {
        font-weight: 600;
        font-size: 1.3rem;
        line-height: 33px;
    }
    .cards > div p {
        font-size: 0.9rem;
        font-weight: 400;
        line-height: 19px;
    }
    .cards img {
        width: 20%;
        align-self: flex-end;
    }
    .cards > div::before {
        content: "";
        position: absolute;
        height: 3px;
        top: 0;
        left: 0;
        width: 100%;
    }
    .cards .super-visor::before {
        background-color: var(--cyan);
    }
    .cards .team-builder::before {
        background-color: var(--red);
    }
    .cards .karma::before {
        background-color: var(--orange);
    }
    .cards .calculator::before {
        background-color: var(--blue);
    }
    footer {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .attribution {
        font-size: 0.7rem;
    }
}
@media (min-width: 320px) and (min-height: 533px) /* nokia lumia 520 */ {
    html {
        font-size: 13px;
    }
    body {
        grid-template-rows: 29% 1fr 5%;
    }
    .top-desc {
        height: 57%;
    }
    .top-desc .title {
        width: 100%;
        font-size: 1.5rem;
    }
    .cards {
        height: 163vh;
    }
}
@media (min-width: 320px) and (min-height: 658px) /* galaxy s9+ */ {
    html {
        font-size: 14px;
    }
    .cards {
        height: 138vh;
    }
}
@media (min-width: 353px) and (min-height: 745px) /* pixel 4 */ {
    .cards {
        height: 137vh;
    }
}
@media (min-width: 360px) and (min-height: 640px) {
    html {
        font-size: 14px;
    }
    body {
        grid-template-rows: 31% 1fr 5%;
    }
    .top-desc {
        height: 50%;
    }
    .top-desc .title {
        font-size: 1.4rem;
    }
    .cards {
        height: 151vh;
    }
}
@media (min-width: 360px) and (min-height: 740px) /* galaxy s8 */ {
    body {
        grid-template-rows: 25% 1fr 5%;
    }
    .top-desc {
        height: 58%;
    }
    .cards {
        height: 127vh;
    }

}
@media (min-width: 375px) and (min-height: 667px) /* iphone se */ {
    .top-desc .title {
        font-size: 1.6rem;
    }
    .cards img {
        width: 25%;
    }
}
@media (min-width: 375px) and (min-height: 812px) /* iphone x */ {
}
@media (min-width: 384px) and (min-height: 640px) /* lg optimus l70 */ {
    .top-desc .title {
        font-size: 1.6rem;
    }
}
@media (min-width: 390px) and (min-height: 731px) /* iphone 12 pro */ {
}
@media (min-width: 411px) and (min-height: 731px) /* pixel 2 */ {
    .top-desc p {
        width: 91%;
    }
}
@media (min-width: 411px) and (min-height: 823px) /* pixel 2 xl */ {
}
@media (min-width: 412px) and (min-height: 720px) /* responsive */ {
    .top-desc p {
        width: 91%;
    }
}
@media (min-width: 412px) and (min-height: 914px) /* galaxy a51/71 */ {
    html {
        font-size: 16px;
    }
    .top-desc p {
        width: 95%;
    }
    .cards > div .title {
        line-height: 36px;
    }
    .cards > div p {
        line-height: 25px;
    }
}
@media (min-width: 480px) and (min-height: 736px) /* nokia n9 */ {
    html {
        font-size: 18px;
    }
    .top-desc p {
        width: 92%;
    }
    .cards {
        height: 149vh;
    }
    .cards > div::before {
        height: 4px
    }
    .cards > div .title {
        line-height: 47px;
    }
    .cards > div p {
        line-height: 28px;
    }
}
@media (min-width: 540px) and (min-height: 720px) /* surface duo */ {
    html {
        font-size: 19px;
    }
    .cards {
        height: 208vh;
    }
    .cards > div {
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    .cards > div .title {
        line-height: 47px;
    }
    .cards > div p {
        line-height: 31px;
    }
    .cards img {
        width: 20%;
    }
}
@media (min-width: 600px) and (min-height: 900px) /* responsive */ {
    html {
        font-size: 23px;
    }
    .top-desc p {
        width: 94%;
    }
    .cards > div .title {
        line-height: 65px;
    }
    .cards > div p {
        line-height: 44px;
    }
}
@media (min-width: 600px) and (min-height: 1024px) /* blackberry playbook */ {
    .cards {
        height: 175vh;
    }
}
@media (min-width: 712px) and (min-height: 1138px) /* galaxy tab s4 */ {
    html {
        font-size: 27px;
    }
    .cards > div {
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
    }
    .cards > div::before {
        height: 6px;
    }
}
@media (min-width: 768px) and (min-height: 1024px) /* ipad mini */ {
    html {
        font-size: 29px;
    }
    .cards {
        height: 200vh;
    }
    .cards > div::before {
        height: 6px;
    }
}
@media (min-width: 800px) and (min-height: 1280px) /* nexus 10 */ {
    html {
        font-size: 30px;
    }
}
@media (min-width: 912px) and (min-height: 1200px) /* surface pro 7 */ {
    html {
        font-size: 32px;
    }
    .cards > div {
        border-radius: 14px;
        -webkit-border-radius: 14px;
        -moz-border-radius: 14px;
        -ms-border-radius: 14px;
        -o-border-radius: 14px;
    }
    .cards > div::before {
        height: 7px;
    }
}
@media (min-width: 1024px) and (min-height: 600px) /* nest hub */ {
    html {
        font-size: 14px;
    }
    body {
        grid-template-rows: 45% 1fr 16%;
    }
    .top-desc {
        height: 88%;
    }
    .top-desc .title {
        width: 59%;
        font-size: 2.7rem;
    }
    .top-desc p {
        width: 69%;
        font-size: 1.1rem;
    }
    .cards {
        display: grid;
        grid-template-areas:
        '. team-builder .'
        'supervisor team-builder calculator'
        '. karma .';
        grid-template-rows: 
        25%
        50%
        25%;
        grid-template-columns: 
        calc(100% / 3)
        calc(100% / 3)
        calc(100% / 3);
        justify-content: space-between;
        height: 70vh;
        position: relative;
        width: 84%;
    }
    .cards > div {
        height: 93%;
        width: 93%;
    }
    .cards .super-visor {
        grid-area: supervisor;
    }
    .cards .team-builder {
        grid-area: team-builder;
        grid-row-start: 1;
        grid-row-end: 2;
        height: 186%;
        position: absolute;
        top: 0;
    }
    .cards .karma {
        grid-area: karma;
        align-self: flex-end;
        height: 186%;
        position: absolute;
        bottom: 0;
    }
    .cards .calculator {
        grid-area: calculator;
    }
    .cards img {
        width: 15%;
    }
    .attribution {
        font-size: 1rem;
    }
}
@media (min-width: 1024px) and (min-height: 768px) /* responsive */ {
    body {
        grid-template-rows: 34% 1fr 16%;
    }
    .cards {
        height: 55vh;
    }
    .cards > div .title {
        line-height: 38px;
    }
    .cards > div p {
        line-height: 22px;
    }
}
@media (min-width: 1280px) and (min-height: 800px) /* nest hub max */ {
    body {
        grid-template-rows: 40% 1fr 16%;
    }
    .top-desc .title {
        width: 59%;
        font-size: 3.1rem;
    }
    .top-desc p {
        width: 65%;
        font-size: 1.3rem;
    }
    .cards {
        width: 76%;
    }
}
@media (min-width: 1280px) and (min-height: 1024px) /* responsive */ {
    body {
        grid-template-rows: 26% 1fr 16%;
    }
    .cards {
        height: 47vh;
    }
    .attribution {
        font-size: 1.2rem;
    }
}
@media (min-width: 1366px) and (min-height: 768px),
(min-width: 1366px) and (max-height: 768px) /* responsive */ {
    .top-desc p {
        width: 57%;
        font-size: 1.2rem;
    }
    .cards {
        width: 65%;
    }
}
@media (min-width: 1600px) and (min-height: 795px) /* responsive */ {
    body {
        grid-template-rows: 43% 1fr 16%;
    }
    .top-desc {
        height: 66%;
    }
    .top-desc .title {
        width: 50%;
    }
    .top-desc p {
        width: 45%;
        font-size: 1.2rem;
    }
}
@media (min-width: 1920px) and (min-height: 1080px) /* responsive */ {
    .top-desc .title {
        width: 48%;
    }
    .top-desc p {
        width: 44%;
        font-size: 1.3rem;
    }
}
@media (min-width: 2560px) and (min-height: 1080px) /* responsive */ {
    html {
        font-size: 20px;
    }
    body {
        grid-template-rows: 50% 1fr 16%;
    }
    .top-desc {
        height: 74%;
    }
    .top-desc p {
        width: 40%;
        font-size: 1.2rem;
    }
    .cards {
        height: 60vh;
        width: 60%;
    }
    .cards > div .title {
        line-height: 60px;
    }
    .cards > div p {
        line-height: 37px;
    }
    .cards img {
        width: 20%;
    }
}
@media (min-width: 2560px) and (min-height: 1440px) /* responsive */ {
    .top-desc .title {
        font-size: 3.4rem;
    }
    .cards {
        width: 70%;
    }
    .cards > div .title {
        font-size: 1.6rem;
    }
    .cards > div p {
        font-size: 1.1rem;
    }
}